<div class="container">
    <div class="deconnect"><button (click)="deconnexion()" class="btn-danger">Deconnexion</button></div>
    <h1 class="title">Infos profil</h1>
<p><strong>age: </strong>{{age}} </p>
<p><strong>famille: </strong>{{famille}}</p>
<p><strong>race: </strong> {{race}} </p>
<p><strong>nourriture: </strong>{{nourriture}}</p>
<div class="sbtn">
    <button (click)="modifier()" class="btn">Modifier</button>
<button (click)="liste()" class="btn-secondary">Liste des pangolins</button></div>
</div>
