/* body{
    display:flex;
    justify-content: center;
    height:100vh;
    align-items:center;
} */
app-connexion,app-inscription,app-update,app-update-food{
    display:flex;
    width:100%;
    height:100vh;
    justify-content:center;
}
